.App {
  text-align: center;
  display: flex;
}

.contentdiv {
  padding: 100px ;
  background-color: #f4f6f9;
}

nav
{
  padding:20px 10px 10px 10px ;
  background: rgb(255, 166, 0)
}

nav ul
{
  font-size:20px;
  list-style-type: none;
  text-align: left;
  color: rgb(216, 46, 69)
}
nav ul li
{
  margin:40px;
}

.chat1, .chat2, .chat3
{
  height: 100%;
  width: 50%;
}

.video
{
  margin-bottom:50px;
}
